<div class="row">
  <div class="col-xs-12 col-md-offset-0">
    <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" />
      </div>
      <div>
        <button
          style="margin: 5px"
          class="btn btn-primary"
          (click)="onSubmit()"
        >
          Sign Up
        </button>
        <button
          style="margin: 5px"
          class="btn btn-primary"
          (click)="onSubmit()"
        >
          Switch to login
        </button>
      </div>
    </form>
  </div>
</div>
